boto==2.38.0
Django==1.6.5
django-storages==1.1.8
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
psycopg2==2.7.5
pystache==0.5.4
requests==2.3.0
static==1.0.2
wsgiref==0.1.2
redis==2.10.3
whitenoise==1.0.3
celery==3.1.0
django-sslify==0.2.4
python-postmark==0.4.4
suds==1.0.0
django-s3direct==0.3.10
django-redis-cache==1.6.0