body {
    font-family: "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    color: #999a9b;
}
#wrapper {
    width: 100%;
}
#container {
    width: 900px;
    margin: 30px auto;
}
.inner {
    width: 600px;
    margin: 0px auto;
}
input[type="text"], input[type="password"] {
    width: 250px;
    padding: 5px;
    color: #63666a;
    font-size: 0.9em;
    padding-left: 0.4em;
    max-width: 19em;
}
input[type="submit"], button {
    cursor: pointer;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    border: none;
    font-family: "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1.8;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 102, 0, 0.9);
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    padding: 0.3em 1em;
}
h1 {
    font-family: "HelveticaNeueW02-Thin", "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 2em;
    line-height: 1.1em;
    color: #ff6600;
}
h2 {
    font-family: "HelveticaNeueW02-Thin", "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW02-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 1.5em;
    line-height: 1.1em;
    color: #ff6600;
}
#mti_wfs_colophon {
    display: none !important;
}
.grey {
    font-size: 20px;
    color: #999a9b !important;
}

.loading {
    width: 500px;
    height: 300px;
    padding: 20px 0 0 40px;
}

.logo {
    float: left;
}

.logo img {
    margin-top:10px;margin-left:10px;
}

.contact {
    float:right;
    margin: 10px 10px 0 0;
}

.contact a {
    color: #999a9b;
    text-decoration: none;
}

.contact a:hover {
    color: #ff6600;
}

.clear {
    clear:both;
    width: 100%;
    height:20px;
}

.object_link {
    color: #999a9b;
    text-decoration:none;
    font-size:0.8em;
}

a.object_link:hover {
    color: #ff6600;
}

.error {
    color: #900;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    color: #ff6600;
    text-decoration:none;
}

.left-half {
    float:left;
}

.right-half {
    margin-left: 60px;
    float: left;
}