{% extends 'base.html' %}

{% block content %}

	<div class="text-center">

		<h1>404 - Page Not Found</h1>

		<img alt="Doh" class="media-image" height="300" width="300" typeof="foaf:Image" src="/static/images/oh-dear.png">

		<div role="alert" class="alert alert-danger">
			The page you are looking for could not be found. If you are trying to load a job, chances are it was deleted or clear from the database. Please run the process again.
			<br/><br/>
			Click <a href="/{% if request.GET.noheader == '1' %}?noheader=1{% endif %}">here</a> to return to the home page.
		</div>

	</div>

{% endblock %}