{% extends 'base.html' %}

{% block content %}

	<div class="inner">

		<div style="margin:0 auto:">

			<br/><br/>

			<h1>404 - Page Not Found</h1>

			<img alt="Doh" class="media-image" height="300" width="300" typeof="foaf:Image" src="http://www.tquila.com/sites/default/files/styles/large/public/oh-dear.png">

			<p>The page you are looking for could not be found. If you're trying to load a compare job, it may have been deleted from the database. Please create a new one.</p>

		</div>

	</div>

{% endblock %}