{% extends 'base.html' %}

{% block content %}

	<div class="inner">

		<br/><br/>

		<h1>500 - Website Error</h1>

		<img alt="Doh" class="media-image" height="300" width="300" typeof="foaf:Image" src="http://www.tquila.com/sites/default/files/styles/large/public/oh-dear.png">

		<p>There appears to have been an error. The administrator has been notified.</p>

		<p>It is possible that the maximum number of resources have been used for this process. Please try again in a few minutes.</p>

	</div>

{% endblock %}