{% extends 'base.html' %}

{% block content %}

	<div class="inner">

		<h1>Salesforce Org Compare</h1>
		<p>
			This tool uses the Salesforce Tooling API to compare all the metadata between two Orgs. This is useful when planning deployments or building deployment packages, as well as seeing what configuration exists in Production to Sandbox or between Sandbox environments.
		</p>
		<p>
			None of your organisation information or data is captured or kept from running this tool.
		</p>

		<div class="left-half">

			<h2>Org One</h2>

			<table id="orgOneLogin">

				<tr>
					<td width="125">
						<select id="org_one_env" name="org_one_env" class="form-control">
							<option value="Production">Production</option>
							<option value="Sandbox">Sandbox</option>
						</select>
					</td>
					<td>
						&nbsp;&nbsp;
						<button type="button" id="orgOneButton">
  							Login
						</button>
					</td>
				</tr>

			</table>

			<table id="orgOneDisplay" style="display:none;">

				<tr>
					<td width="90">
						<strong>Username</strong>
					</td>
					<td>
						<span id="orgOneUsername"></span>
					</td>
				</tr>

				<tr>
					<td>
						<strong>Org</strong>
					</td>
					<td>
						<span id="orgOneOrg"></span>
					</td>
				</tr>

			</table>

		</div>

		<div class="right-half">

			<h2>Org Two</h2>

			<table id="orgTwoLogin">

				<tr>
					<td width="125">
						<select id="org_two_env" name="org_two_env" class="form-control">
							<option value="Production">Production</option>
							<option value="Sandbox">Sandbox</option>
						</select>
					</td>
					<td>
						&nbsp;&nbsp;
						<button type="button" id="orgTwoButton">
  							Login
						</button>
					</td>
				</tr>

			</table>

			<table id="orgTwoDisplay" style="display:none;">

				<tr>
					<td width="90">
						<strong>Username</strong>
					</td>
					<td>
						<span id="orgTwoUsername"></span>
					</td>
				</tr>

				<tr>
					<td>
						<strong>Org</strong>
					</td>
					<td>
						<span id="orgTwoOrg"></span>
					</td>
				</tr>

			</table>

		</div>

		<div class="clear"></div>

		<div id="compareOrgs" style="display:none;width:100%;text-align:center;">
			<button>Compare Orgs</button>
		</div>

	</div>

	<input type="hidden" id="client_id" value="{{ client_id }}" />
	<input type="hidden" id="redirect_uri" value="{{ redirect_uri }}" />

{% endblock %}