{% extends 'base.html' %}

{% block scripts %}
	<script>
		$(document).ready(function ()
		{
			$('#orgOneButton').click(function ()
			{
				var iframeSrc = 'https://';
				if ( $('#org_one_env').val() == 'Production' )
				{
					iframeSrc += 'login'
				}
				else
				{
					iframeSrc += 'test'
				}
				iframeSrc += '.salesforce.com/services/oauth2/authorize?response_type=code&client_id={{client_id}}&redirect_uri={{redirect_uri}}&scope=api';
				$('#orgOneFrame').attr('src', iframeSrc);
			});
		});
	</script>

{% endblock %}

{% block content %}

	<div class="inner">

		<h1>Salesforce Org Compare</h1>
		<p>
			This tool uses the Salesforce Tooling API to compare all the metadata between two Orgs. This is useful when planning deployments or building deployment packages, as well as seeing what configuration exists in Production to Sandbox or between Sandbox environments.
		</p>
		<p>
			None of your organisation information or data is captured or kept from running this tool.
		</p>

		<div class="left-half">

			<h2>Org One</h2>

			<table>

				<tr>
					<td width="125">
						<select id="org_one_env" name="org_one_env" class="form-control">
							<option value="Production">Production</option>
							<option value="Sandbox">Sandbox</option>
						</select>
					</td>
					<td>
						&nbsp;&nbsp;
						<button type="button" data-toggle="modal" data-target="#orgOne" id="orgOneButton">
  							Login
						</button>
					</td>
				</tr>

			</table>

		</div>

		<div class="right-half">

			<h2>Org Two</h2>

			<table>

				<tr>
					<td width="125">
						<select id="org_two_env" name="org_two_env" class="form-control">
							<option value="Production">Production</option>
							<option value="Sandbox">Sandbox</option>
						</select>
					</td>
					<td>
						&nbsp;&nbsp;
						<button type="button" data-toggle="modal" data-target="#orgTwo">
  							Login
						</button>
					</td>
				</tr>

			</table>

		</div>

	</div>

	<!-- Org One Modal -->
	<div class="modal fade" id="orgOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">
		        		<span aria-hidden="true">&times;</span>
		        		<span class="sr-only">Close</span>
		        	</button>
		        	<h4 class="modal-title" id="myModalLabel">Log in to Org One</h4>
		      	</div>
		      	<div class="modal-body">
		        	<iframe id="orgOneFrame" border="0"></iframe>
		      	</div>	
		    </div>
		</div>
	</div>

	<!-- Org Two Modal -->
	<div class="modal fade" id="orgTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">
		        		<span aria-hidden="true">&times;</span>
		        		<span class="sr-only">Close</span>
		        	</button>
		        	<h4 class="modal-title" id="myModalLabel">Log in to Org Two</h4>
		      	</div>
		      	<div class="modal-body">
		        	<iframe id="orgTwoFrame" border="0"></iframe>
		      	</div>
		    </div>
		</div>
	</div>

{% endblock %}