{% extends 'base.html' %}

{% block content %}

	<div class="inner">

		<h1>Salesforce Org Compare</h1>
		<p>
			This tool uses the Salesforce Tooling or Metadata API (user selection) to compare metadata between two Orgs. This is useful when planning deployments or building deployment packages, as well as seeing what configuration exists in Production to Sandbox or between Sandbox environments.
		</p>
		<p>
			None of your organisation information or data is captured or kept from running this tool.
		</p>

		<div class="alert alert-info" role="alert">
			<p>
				<strong>Note:</strong> If you've selected to be emailed when the job is ready, you can close this window and visit the link in the email.
			</p>
		</div>
		
		<div class="loading-components">

			<br/><br/>

			<div style="float:left;">
				<img src="{{ STATIC_URL }}images/loading.gif" alt="Loading" title="Loading" />
			</div>

			<div style="float:left;margin-left:20px;">
				<h1 style="font-size:1.5em;margin-top:20px;">
					Querying all metadata and comparing...
				</h1>
				<p>
					This can take some time, depending on size of Orgs and API selection.
				</p>
			</div>

		</div>

		<div class="alert alert-danger error" role="alert" style="display:none;">
			<p>
				There was an error processing your request: <i class="error_message"></i>
				<br/><br/>
				Please <a href="/">return</a> to the home page and try again.
			</p>
		</div>

	</div>

	<script>
 		window.setInterval(function () 
 		{
       		$.ajax({
			    url: '/job_status/{{ job.id }}',
			    type: 'get', //this is the default though, you don't actually need to always mention it
			    success: function(resp) 
			    {
			        if (resp.split(':::')[0].trim() == 'Finished')
			        {
			        	window.location = '/compare_result/{{ job.id }}/';
			        } 
			        else if (resp.split(':::')[0].trim() == 'Error')
			        {
			        	$('.loading-components').hide();
			        	$('.error').show();
			        	$('.error_message').text(resp.split(':::')[1]);
			        }
			        // Else job is still running, this will re-run shortly.
			    },
			    failure: function(resp) 
			    { 
			        $('.loading-components').hide();
		        	$('.error').show();
		        	$('.error_message').text(resp);
			    }
			});
    	}, 3000);
	</script>

{% endblock %}