<!DOCTYPE html>
<html>

	<head>
		<title>Salesforce.com Org Compare Tool</title>
		<meta name="keywords" content="salesforce, salesforce.com, force.com, compare, merge, sforgcompare" />
  		<meta name="description" content="Compare the all metadata between Salesforce Orgs. Useful for seeing missing changes, customisation and building change sets or deployment packages." />
  		<meta name="author" content="Ben Edwards (ben@benedwards.co.nz)" />
  		<meta charset="UTF-8" />

  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.icon" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	</head>

  	<body>

  		{% if error %}

            <div style="padding:20px 40px;">

                <h2>Error</h2>

  			    <div class="alert alert-danger" role="alert">
                    There was an error authorising your login: {{ error_message }}
                    <br/><br/>
                    Please close this window and try again.
                </div>

                <button onclick="window.close();">Close</button>

            </div>

  		{% else %}

  			<script>
  				window.opener.updateOrgDetails('{{ org_choice }}','{{ username }}', '{{ org_name }}', '{{ org.id }}');
  				window.close();
  			</script>

  		{% endif %}

  	</body>

</html>