<!DOCTYPE html>
<html>

	<head>
		<title>Salesforce.com Org Compare Tool</title>
		<meta name="keywords" content="salesforce, salesforce.com, force.com, compare, merge, sforgcompare" />
  		<meta name="description" content="Compare the all metadata between Salesforce Orgs. Useful for seeing missing changes, customisation and building change sets or deployment packages." />
  		<meta name="author" content="Ben Edwards (ben@edwards.nz)" />
  		<meta charset="UTF-8" />

  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/vnd.microsoft.icon" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	</head>

  	<body>

        <div style="padding:20px 40px;">

      		{% if error %}

                <h2>Error</h2>

  			    <div class="alert alert-danger" role="alert">
                    There was an error authorising your login:<br/>
                    <strong>{{ error_message }}</strong>
                    <br/><br/>
                    Please close this window and try again.
                </div>

                <button onclick="window.close();">Close</button>

      		{% else %}

                <h2>Success</h2>

                <div class="alert alert-success" role="alert">
                    Your authorisation has been successful. Please wait while your details are loaded.
                </div>

                <button onclick="window.close();">Close</button>

      			<script>
      				window.opener.updateOrgDetails('{{ org_choice }}','{{ username }}', '{{ org_name }}', '{{ org.id }}', '{{ email }}');
                    setTimeout(function() 
                    {
                        window.close();
                    },
                        2000
                    );
      			</script>

      		{% endif %}

          <iframe src="https://login.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>
          <iframe src="https://test.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>
          <iframe src="{{ instance_url }}/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>

        </div>

  	</body>

</html>