{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

	<script>
		$(document).ready(function() 
		{
			$.ajax({
			    url: '/delete_schema/{{ schema.id }}/',
			    type: 'get',
			    success: function(resp) 
			    {
			        // Else do nothing. It will re-run in 5 seconds
			    },
			    failure: function(resp) 
			    { 
			        // Do nothing
			    }
			});
		})
	</script>

	<h1>Salesforce Schema Lister</h1>
	<p>
		See the objects and fields printed below for the Org: <strong>{{ schema.org_name }}</strong> ({{ schema.org_id }}) <br/><br/>
		Note: Your actual org schema has been deleted on loading this page. Refreshing this page will error. This is to ensure none of your Org data is captured.
	</p>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	    <div class="panel panel-default">

	        <div class="panel-heading" role="tab" id="headingOne">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
	                    Jump to Object
	                </a>
	            </h4>
	        </div>

	        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	            <div class="panel-body">
	            	{% for object in schema.sorted_objects %} 
                    	<a href="#{{ object.api_name }}" class="object_link">{{ object.label }}</a> <span class="object_link">|</span> 
                    {% endfor %}
	            </div>
	        </div>

	    </div>

	</div>

	{% for object in schema.sorted_objects %}

		<a name="{{ object.api_name }}"></a>
		<h2>{{ object.label }} ({{ object.api_name }})</h2>

		<table class="table table-hover">

			<thead>
				<tr>
					<th width="30%">Field Label</th>
					<th width="30%">API Name</th>
					<th width="30%">Type</th>
				</tr>
			</thead>

			<tbody>

			{% for field in object.sorted_fields %}

				<tr>
					<td>{{ field.label }}</td>
					<td>{{ field.api_name }}</td>
					<td>{{ field.data_type|linebreaks }}</td>
				</tr>

			{% endfor %}

			</tbody>

		</table>

		<br/>

	{% endfor %}

	<a href="#" class="back-to-top">Back to Top</a>

{% endblock %}