{% extends 'base.html' %}

{% load static %}

{% block content %}

	<h1>OAuth Response</h1>

	{% if error %}

		<h2>Error</h2>

		<div class="alert alert-danger" role="alert">
			There was an error authorising your login:<br/>
			<strong>{{ error_message }}</strong>
		</div>

		<a href="/">Back to Homepage</a>

	{% else %}

		<h2>Success</h2>

		<div class="alert alert-success" role="alert">
			Your authorisation has been successful. Please wait while your details are loaded. You will be automatically redirected.
			<br/><br/>If you are not automatically redirected, use the link below.
		</div>

		<a href="/">Back to Homepage</a>

		<script>
			setTimeout(function() {
				window.location = '/';
			}, 2000);
		</script>

		<iframe src="https://login.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>
		<iframe src="https://test.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>
		<iframe src="{{ instance_url }}/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>

	{% endif %}

{% endblock %}